<div class="container">
  <div class="row" style="justify-content:center;">
    <div style="text-align: center;"><h1>Gifts</h1></div>
    <div style="margin-left: 43%; margin-bottom: 20px; margin-top:10px;">


      <%= form_tag gifts_path, method: :get do %>
        <%= text_field_tag :query, params[:query],
        placeholder: "Find a gift"%>
        <%= submit_tag "Search"%>
      <% end %>


    </div>

<div class="row">
    <% @gifts.each do |gift|%>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
            <%# <%= image_tag gift.picture, class: "card-img-top"%> %>
            <div class="card-body">
                <h5 class="card-title"><%= gift.name%></h5>
                <p class="card-text gift-description"><%= gift.description%></p>                
                <%= link_to "Show More", gift_path(gift.id), class:"btn btn-primary btn-right" %>
                </p>
            
            </div>
            </div>
        </div>
    <% end %>

  </div>
  </div>
</div>