<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gift.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gift.description %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @gift.availability %>
</p>

<p>
  <strong>User:</strong>
  <%= @gift.user.email %>
</p>
<p>
<%= image_tag @gift.picture, size: "300x400" %>
</p>
<% if can? :update, @gift %>
  <%= link_to 'Edit', edit_gift_path(@gift) %>
<% end %>

<%= link_to 'Back', gifts_path %>
